#jinja2: trim_blocks: True,lstrip_blocks: True
{#############################################

Purpose:
Configure snmp commands for dellos10 Devices

dellos_snmp:
    snmp_contact:  test
    snmp_location: Chennai
    snmp_community:
      - name: public
        access_mode: ro
        state: present
    snmp_traps: 
      - name: all
        state: present
    snmp_host:
      - ip: 1.1.1.1
        communitystring: c1
        version: "2c"
        udpport: 4
        state: present
      - ip: 2.2.2.2
        version: 1
        communitystring: c3
        state: present

###############################################}
{% if dellos_snmp is defined and dellos_snmp %}
{% for key,value in dellos_snmp.iteritems() %}
  {% if key == "snmp_contact" %}
    {% if value %}
snmp-server contact {{ value }}
    {% else %}
no snmp-server contact
    {% endif %}

  {% elif key == "snmp_location" %}
    {% if value  %}
snmp-server location {{ value }}
    {% else %}
no snmp-server location
    {% endif %}

  {% elif key == "snmp_community" %}
    {% if value %}
      {% for item in value %}
        {% if item.name is defined and item.name %}
          {% if item.state is defined and item.state == "absent" %}
no snmp-server community {{ item.name }}
          {% else %}
            {% if item.access_mode is defined and item.access_mode %}
snmp-server community {{ item.name }} {{ item.access_mode }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

  {% elif key == "snmp_traps" %}
    {% if value %}
      {% for val in value %}
        {% if val.name is defined and val.name %}
          {% if val.state is defined and val.state == "absent" %}
            {% if val.name == "all" %}
              {% set trap_list = ['snmp authentication','snmp linkdown','snmp linkup','envmon fan','envmon power-supply','envmon temperature'] %}
              {% for name in trap_list %}
no snmp-server enable traps {{ name }}
              {% endfor %}
            {% else %}
no snmp-server enable traps {{ val.name }}
            {% endif %}
          {% else %}
            {% if val.name == "all" %}
              {% set trap_list = ['snmp authentication','snmp linkdown','snmp linkup','envmon fan','envmon power-supply','envmon temperature'] %}
              {% for name in trap_list %}
snmp-server enable traps {{ name }}
              {% endfor %}
            {% else %}
snmp-server enable traps {{ val.name }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
   
  {% elif key == "snmp_host" and value %}
    {% for item in value %}
      {% if item.ip is defined and item.ip %}
        {% if item.version is defined and item.version == 1 or item.version == "2c" %}
          {% if item.communitystring is defined and item.communitystring %}
            {% if item.udpport is defined and item.udpport %}
              {% set my_val = "traps version "+item.version|string+" "+item.communitystring+" udp-port "+item.udpport|string %}
            {% else %}
              {% set my_val = "traps version "+item.version|string+" "+item.communitystring %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if my_val is defined and my_val %}
          {% if item.state is defined and item.state == "absent" %}
no snmp-server host {{ item.ip }} {{ my_val }}
          {% else %}
snmp-server host {{ item.ip }} {{ my_val }}
          {% endif %}
        {% endif %}
        {% set my_val = "" %}
      {% endif %}
    {% endfor%}
  {% endif %}
{% endfor %}
{% endif %}
